*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Trispace', sans-serif;
    background-color: rgba(30, 29, 29, 0.762);
    background-image: url(../img/12.jpg);
    background-position: center;
    background-size: cover;
  }