@media screen and (max-width: 768px) {
    .container1 {
      width: 100%;
      background-image: none;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "Header Header Header" "Main Main Main" "Seccion1 Seccion1 Seccion1" "Seccion2 Seccion2 Seccion2" "Footer Footer Footer";
    }
  }
@media screen and (max-width: 320px) {
    .container1 {
      width: 100%;
      background-image: none;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "Header Header Header" "Seccion1 Seccion1 Seccion1" "Seccion2 Seccion2 Seccion2" "Main Main Main" "Footer Footer Footer";
    }
  }